div{
	text-align: center;
	
}

body{
	
	background-repeat:no-repeat;
	background-size: 100% 100%; 
	display: block;

}

h1 {
	margin: 30px 0px 20px 0px;
	text-align: center;
}

h2{
	margin: 30px 0px 0px 200px;
	text-align:left;
}

p{
	margin: 30px 0px 50px 220px;
	padding: 0;
	text-align: left;
}

ul {

	text-align: left;
	margin: 0px 0px 20px 160px;

}

li{
	margin: 0px 0px 10px 30px;
}
	

img{
	
	border:5px solid black;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    background-color:green;
   
    border-radius: 5px;
    display: block;
}
.space {
	margin-left: 0px;
}

.space1 {
	margin-left: 0px;
}

.space2 {
	margin-left: 0px;
}


.e{
    
	margin: 0px 1000px 0px 0px;
	font-size: 20px;
	display: block;
}


.p{ 
	margin: 0px 800px 0px 0px;
	font-size: 20px;
	display: block;
	
}









